@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }
  
  * {
    box-sizing: border-box;
  }
   
  header {
    width: 100%;
    height: 75px;
    background-color: #1F1F1F;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 10;
    overflow: hidden;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
  
  nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    gap: 30px;
    padding: 0 20px;
  }
  
  nav > ul > li {
    color: white;
    font-size: 23px;
    font-weight: 600;
  }
  
  nav ul li a:visited {
    color: white;
  }

  nav ul li a:hover {
    color: #4ECDC4
  }
  
  #welcome-section {
    background: linear-gradient(135deg, #1F1F1F, #2E2E2E);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%;
  }
  
  body {
    margin: 0 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #2E2E2E;
    color: #FDFDFD;
    max-width: 100%;
    overflow-x: hidden;
    
  }
  
  .intro {
    font-size: 3rem;
    color: #4ECDC4; /* Muted teal */
  }
  
  .intro p {
    font-size: 1.2rem;
    color: #CCCCCC;
    margin: -50px;
  }
  
  .project-tile {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .project-header {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #FF6B6B;
    
  }
  
  .projects {
    background-color: #1F1F1F;
    padding-top: 1px;
    padding-bottom: 170px;
    margin-bottom: -20px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .app img {
    height: 300px;
    width: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .app-title {
    text-align: center;
    background-color: #333333;
    color: white;
    font-size: 27px;
    margin-top: -5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0 0 10px 10px;
    font-weight: 300px;
    margin-bottom: 0px;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  .show-all-button {
    background-color: #333333;
    border: none;
    color: white;   
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 75px;
    width: 150px;
    transition: transform .2s ease-in-out;
    font-weight: bold;
  }

  .show-all-button:hover {
    transform: scale(1.1);
    color: orange;
  }
  
  hr {
    width: 40%;
    border: 2px solid white;
    margin-top: -20px;
    margin-bottom: 90px;
  }
  
  img {
    border-radius: 10px 10px 0 0;
    max-width: 100%;
    display: block; /* Prevent inline spacing issues */
  }
  
  .contact {
    background-color: #333333; /* Neutral dark gray */
    color: #FDFDFD;
    height: 70vh;
    padding-top: 200px;
  }
  
  .contact h1, .contact h4 {
    text-align: center;
  }
  .contact h4 {
    color: #CCCCCC; /* Soft gray */

  }
  
  .contact h1 {
    font-size: 60px;
    margin-bottom: 0;
  }
  
  .contact-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 0px;
    padding-top: 50px;
    
  }
  
  .footer-line {
    border: 2px solid #4ECDC4;
    margin-top: 50px;
  }
  
  .fa {
    text-decoration: none;
    color: white;
    transition: transform .3s ease-out;
  }

  .fa:hover {
    transform: translateY(10px);
    color: #56E5D9;
  }

  .hover-reveal {
    opacity: 0%;
    color: orange;
    transition: opacity 0.5s ease;
  }

  .app:hover {
    .hover-reveal {
      opacity: 1;
    }
  }

  .app {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
  }

  .app-desc {
    max-width: 500px;
    font-size: 1.1rem;
    line-height: 1.5;
    color: #CCCCCC;
  }

@keyframes fadeUp {
  0% {
    opacity: 0;
  }

  100% {
    transform: translateY(-70px);
    opacity: 1;
  }
}

.heading {
  animation: fadeUp 3s ease-in-out;
  animation-fill-mode: forwards;
  text-align: center;
  max-width: 100%;
}

#click-info {
    text-align: center;
    margin-bottom: 30px;
}
